@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* global styles */

  /* auth pages */
  .auth-root {
    @apply w-screen flex bg-customWhite-100
  }

  .auth-container {
    @apply w-1/2 max-lg:w-full flex justify-center self-start overflow-auto h-full pt-36
  }
}